<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GymGenius</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2 headerstyling">
      <h1>
        <span role="img" aria-label="money">💸 💪</span>
        <a class="greentextcolor" href="/">GymGenius: Building Workouts, Building You</a>
      </h1>
      <nav>
        <button class="primary-button" onclick="window.location.href='/about'">About Us</button>
        <button class="primary-button" onclick="window.location.href='/bmi'">BMI calculator</button>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>
</body>

</html>
