<section class="about-section">
  <h2 class="section-heading">About Us</h2>
  <p class="section-text">At Gym Genius, we are dedicated to helping you achieve your fitness goals. Our platform provides a comprehensive set of tools and resources to make your fitness journey effective and enjoyable.</p>
  <p class="section-text">Our team of experienced fitness professionals is passionate about helping you lead a healthier lifestyle. We believe that fitness is not just a goal,</p>
  <h3>It's a way of life!</h3>
  <p class="section-contact">Contact us at: <a href="mailto:gymgenius@gmail.com">gymgenius@gmail.com</a></p>
</section>
