<section class="about-section">
  <h2>About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab perspiciatis assumenda numquam animi id nihil molestiae modi officia veniam. Consequuntur rem incidunt molestias ad repellat provident veniam praesentium cupiditate commodi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quo id, voluptatum, hic porro blanditiis mollitia obcaecati doloribus voluptates velit, fugit enim. Fuga, minus quia blanditiis in qui doloremque atque?</p>
  <p>Contact us at: gymgenius@gmail.com </p>
</section>