<h3>Welcome to Gym Genius</h3>
<p class="bodytext">Welcome to Gym Genius, your all-in-one platform for fitness enthusiasts! Achieve your fitness goals with ease using our BMI calculator, exercise creation tool, and routine planner.</p>

<h3>Calculate Your BMI</h3>
<p class="bodytext">Use our intuitive BMI calculator to assess your current body mass index. Simply input your height and weight, and get an instant understanding of where you stand on the fitness scale.</p>
<button class="primary-button" onclick="window.location.href='/bmi'">Calculate your BMI</button>

<h3>Create Custom Exercises</h3>
<p class="bodytext">Unleash your creativity by designing your own exercises. Whether it's cardio, strength training, or flexibility, our exercise creation tool lets you customize and add any exercise you want to your routine</p>

<h3>Craft Personalized Routines</h3>
<p class="bodytext">Design your workout routines like a pro! Combine your custom exercises into personalized workout plans. Adjust the name and duration to match your fitness level and goals.</p>

<h3>Track Your Progress</h3>
<p class="bodytext">Stay motivated by tracking your progress over time. Set a weight goal and monitor your BMI changes. </p>

<h3>Join the Gym Genius Community Today!</h3>
<button class="primary-button" onclick="window.location.href='/login'">Sign Up</button>
<button class="primary-button" onclick="window.location.href='/login'">Log in</button>

