<div class="row">
  <div class="col-auto">
    <h2>Welcome back, {{user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a Workout Routine:</h3>

    <form class="form new-workout-form">
      <div class="form-group">
        <label for="workout-name">Routine name:</label>
        <input class="form-input" type="text" id="workout-name" name="workout-name" />
      </div>
      <div class="form-group">
        <label for="workout-duration">Duration (minutes):</label>
        <input class="form-input" type="number" id="workout-duration" name="workout-duration" />
      </div>
      <div class="form-group">
        <label for="workout-intensity">Intensity:</label>
        <input class="form-input" type="text" id="workout-intensity" name="workout-intensity" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if routine.length}}
  <div class="col-md-6 workout-list">
    <h3>Current Workout Routines:</h3>

    {{#each routine as |routine|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/routine/{{routine.id}}">{{routine.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{routine.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>
