<div class="text-center">
<h2 class="section-heading">{{name}}</h2>
<p class="section-text">{{duration}}</p>
<p class="section-text">Created by {{user.name}}</p>
<p>
  <button class="primary-button" onclick="window.location.href=''">Start this routine</button>
</p>
</div>
