<div class="text-center">
  <h2 class="section-heading">Routines</h2>

  <div id="routine-container">
  </div>
    {{#each routines}}
      <div class="routine-card">
        <h3>{{this.name}}</h3>
        <p class="section-text">Duration: {{this.duration}}</p>
        <p class="section-text">Created by: {{this.User.name}}</p>
        <p>
          <a href="/start-routine/{{this.id}}" class="primary-button">Start this routine</a>
        </p>
      </div>
    {{/each}}
</div>

<script src="/js/routine.js"></script>